<app-header></app-header>
  <body>
  <section class="hero is-primary is-bold is-fullheight">
  <div class="hero-body">
  <div class="container has-test centered">
    <h1 class="title is-medium">
      Welcome to
<br>
<span style="color:blue;">FormsWork</span>
</h1>
  </div>
  <pre><h2 class="sub-title">
          Intelligent forms simplify the process of
          data collection,enabling businesses to
          automate data capture,reduce errors,
          and improve efficiency
  </h2>
  </pre>
  </div>
  </section>
  <div id="container">
	<button routerLink="login" id="shadow">Join us</button>
  </div>
  </body>
